<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransIP | Domeinnaam registratie, Webhosting en VPS</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <img class="logo" src="img/header/logo.png" alt="logo" width="100" height="25">
        <button><a href="/">Home</a></button>
        <button><a href="/producten">Producten</a></button>
        <button><a href="/overons">Over-ons</a></button>
        <button><a href="/contact">Contact</a></button>
        <button><a href="/account">Account</a></button>
        <button><a class="cart" href="/checkout"><img src="img/header/cart.png" alt="cart" width="25" height="25"></a></button>
    </header>
    <br>
    <div class="producten align">
        <div class="product">
            <img src="img/producten/domain.jpg" alt="domeinnaam" style="width:100%">
            <h1>Domein naam</h1>
            <p class="price">$15,00</p>
            <p>Kies uit: .nl .be .com .net</p>
            <p><button>Koop nu</button></p>
          </div>
          <div class="product">
            <img src="img/producten/dedicated-server.png" alt="dedicated-server" style="width:100%">
            <h1>Dedicated server</h1>
            <p class="price">$60,00</p>
            <p>4-cores 16gb-ram 280gb-ssd</p>
            <p><button>Koop nu</button></p>
          </div>
          <div class="product">
            <img src="img/producten/vps.png" alt="vps" style="width:100%">
            <h1>Virtual private server</h1>
            <p class="price">$35,00</p>
            <p>2-cores 4gb-ram 64gb-ssd</p>
            <p><button>Koop nu</button></p>
          </div>
          <div class="product">
            <img src="img/producten/Server-computer.jpg" alt="server-computer" style="width:100%">
            <h1>Server computer</h1>
            <p class="price">$470,00</p>
            <p>8-cores 32gb-ram 2tb-ssd</p>
            <p><button>Koop nu</button></p>
          </div>
    </div>
    <br>
    <div class="disclaimer">
        <h1>Voorwaarden:</h1>
        <p>Bij het gebruik van onze diensten accepteer je onze gebruikersvoorwaarden.</p>
        <p>Voor meer informatie ga je naar <a href="/overons">voorwaarden</a></p>
    </div>
    <br>
    <footer class="align">
        <div>
            <a href="mailto:helpdesk@transip.com">Email ons</a>
            <br>
            <a href="tel:+31634567890">Bel ons</a>
            <br>
            <a href="https://goo.gl/maps/hfSWSVcWKPDcDWX89" target="_blank">Bedrijf locatie</a>
        </div>
    </footer>
</body>
</html>
